-- Criando nova etapa pra alterar a tabela store_items
ALTER TABLE public.store_items ALTER COLUMN created_at SET DEFAULT now();
ALTER TABLE public.store_items ALTER COLUMN updated_at SET DEFAULT now();
DROP POLICY IF EXISTS \
store_items_admin_all\ ON public.store_items;
CREATE POLICY \
store_items_admin_all\ ON public.store_items FOR ALL TO authenticated USING (auth.uid() IN (SELECT id FROM public.profiles WHERE role = 'admin')) WITH CHECK (auth.uid() IN (SELECT id FROM public.profiles WHERE role = 'admin'));
