-- 1. Nova Função purchase_store_item usando PROFILES como Fonte da Verdade do Saldo
CREATE OR REPLACE FUNCTION public.purchase_store_item(p_item_code TEXT, p_target_id UUID DEFAULT NULL)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
    v_profile_id UUID;
    v_item RECORD;
    v_current_balance INTEGER;
    v_post_owner UUID;
BEGIN
    -- 1. Validar autenticação
    v_profile_id := auth.uid();
    IF v_profile_id IS NULL THEN
        RETURN jsonb_build_object('success', false, 'message', 'Não autenticado');
    END IF;

    -- 2. Buscar item da loja (LOCK para consistência)
    SELECT * INTO v_item FROM public.store_items WHERE code = p_item_code AND is_active = TRUE FOR SHARE;
    IF NOT FOUND THEN
        RETURN jsonb_build_object('success', false, 'message', 'Item não encontrado ou inativo');
    END IF;

    -- 3. Validar e travar saldo na tabela PROFILES (Fonte de Verdade Unificada)
    SELECT COALESCE(coins_balance, 0) INTO v_current_balance FROM public.profiles WHERE id = v_profile_id FOR UPDATE;
    IF v_current_balance < v_item.price THEN
        RETURN jsonb_build_object('success', false, 'message', 'Saldo de Everest Coins insuficiente');
    END IF;

    -- 4. Lógica Específica por Tipo de Benefício
    IF v_item.benefit_type = 'xp' THEN
        -- Adicionar XP ao usuário
        UPDATE public.user_progress
        SET xp_total = COALESCE(xp_total, 0) + v_item.benefit_value,
            updated_at = now()
        WHERE profile_id = v_profile_id;

    ELSIF v_item.benefit_type = 'boost' THEN
        -- Validar target_id (post)
        IF p_target_id IS NULL THEN
            RETURN jsonb_build_object('success', false, 'message', 'ID do post é obrigatório para Boost');
        END IF;

        -- Verificar propriedade e existência (LOCK no post)
        SELECT profile_id INTO v_post_owner FROM public.posts WHERE id = p_target_id FOR UPDATE;
        IF NOT FOUND THEN
            RETURN jsonb_build_object('success', false, 'message', 'Post não encontrado');
        END IF;

        IF v_post_owner != v_profile_id THEN
            RETURN jsonb_build_object('success', false, 'message', 'Você só pode impulsionar seus próprios posts');
        END IF;

        -- Atualizar Timestamp de Boost (Stacking)
        UPDATE public.posts
        SET boosted_until = GREATEST(COALESCE(boosted_until, now()), now()) + (v_item.benefit_value * INTERVAL '1 hour'),
            updated_at = now()
        WHERE id = p_target_id;

    ELSE
        RETURN jsonb_build_object('success', false, 'message', 'Tipo de benefício desconhecido');
    END IF;

    -- 5. Debitar Moedas APENAS na tabela PROFILES 
    -- (o trigger 'trigger_sync_balances_from_profiles' já replica para wallet automaticamente)
    UPDATE public.profiles
    SET coins_balance = COALESCE(coins_balance, 0) - v_item.price,
        updated_at = now()
    WHERE id = v_profile_id;

    -- 6. Registrar no Ledger (Auditoria Geral)
    INSERT INTO public.coin_ledger (profile_id, type, action, amount, reference_id)
    VALUES (v_profile_id, 'purchase', p_item_code, -v_item.price, p_target_id::text);

    -- 7. Registrar Transação na user_purchases
    INSERT INTO public.user_purchases (profile_id, item_id, target_id, price_paid, purchased_at)
    VALUES (v_profile_id, v_item.id, p_target_id, v_item.price, now());

    RETURN jsonb_build_object(
        'success', true, 
        'message', 'Compra realizada com sucesso!',
        'new_balance', v_current_balance - v_item.price
    );
END;
$$;
